* {
    -webkit-tap-highlight-color: transparent;
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    --color_main: #9dd7fb;
}

body {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change "none" to "text" */
    font-family: system-ui, -apple-system, -apple-system-font, "Segoe UI", "Roboto", sans-serif;
    font-size: 12px;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    /* Padding to avoid the "unsafe" areas behind notches in the screen */
    padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px) env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
    width: 100%;
}

.ui-page .ui-header,
.ui-page .ui-footer .ui-navbar ul li a {
    width: 100%;
    height: 60px;
    color: white;
    text-shadow: none;
    background-color: var(--color_main);
    border-color: white;
}

h1 {
    text-transform: uppercase;
    text-align: center;
}

#btn-delete {
    color: white;
    background-color: var(--color_main);
    border: none;
    text-shadow: none;
}

.list {
    border: solid 1px var(--color_main);
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px;
    padding: 5px 15px;
    margin: 10px 0px;
}

#header-create-title {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    text-transform: uppercase;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 6px;
    object-fit: cover;
}

.active {
    background-color: #25a3f1;
}

.title {
    font-size: 20px;
    margin-top: 0px;
    margin-bottom: 5px;
    padding-top: 10px;
    text-align: center;
}

.header_detail {
    display: flex;
    align-items: center;
    height: 60px;
    justify-content: space-between;
}

.backbtn {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
}

.backbtn img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.home__list {
    display: flex;
    flex-direction: column;
}

.home__slider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.menu_photo {
    display: flex;
}

.btn_gallery {
    width: 30px;
    height: 30px;
    background-color: transparent;
    border: none;
    padding: 2px 2px;
    margin: 2px 5px;
}

.btn_gallery img {
    width: 30px;
    height: 30px;
    object-fit: cover;
}

.gr_cmt {
    display: flex;
    justify-content: space-between;
}

#btn_add {
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
}

#btn_add img {
    margin-right: 5px;
}

.searchbtn {
    width: 40px;
    height: 40px;
}

.searchbtn img {
    width: 40px;
    height: 40px;
}

.edit-note {
    width: 30px;
    height: 30px;
    border: none;
    background-color: transparent;
}

.edit-note img {
    width: 30px;
    height: 30px;
}

.ui-content {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    margin: 10px 20px;
}